<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src="/javascripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <% projects.forEach(function(project, index) { %>
          <li <%= index == 0 ? "class=active" : "" %>>
            <a href="#<%= project %>" data-toggle="tab"><%= project %></a>
          </li>
        <% }) %>
      </ul>
      <div class="tab-content">
        <% projects.forEach(function(project, index) { %>
          <div class="tab-pane <%= index == 0 ? "active" : "" %>" id=<%= project %> >
            <p>
              Logs from <%= project %>
              <a class="restart btn" data-project="<%= project %>" href='javascript: void(0);'>重启</a>
            </p>
            <textarea class="terminal <%= project %>"></textarea>
            <label for="terminal-input">
              <input class="terminal-input input" id="terminal-input" data-project="<%= project %>">
            </label>
          </div>
        <% }) %>
      </div>
    </div>
    <script>
      $(function(){
        var socket = io.connect('http://localhost');
        <% projects.forEach(function(project, index) { %>
          socket.on("<%= project %>", function(data) {
            $('.terminal.<%= project %>').append(data.out || data.err)
          });
        <% }) %>

        socket.emit('init_projects', {projects: ["<%= projects %>"]})

        $('.restart').click(function(event) {
          var project = $(this).attr('data-project');
          socket.emit("restart", {project: project});
        })

        $('.terminal-input').keypress(function(event) {
          var project = $(this).attr('data-project');
          if (13 == event.keyCode) {
            socket.emit(project + "_input", {command: $(this).val()})
            $(this).val('');
          }
        })
      })
    </script>
  </body>
</html>