<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <script type="text/javascript" src="/javascripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript" src="/javascripts/bootstrap.min.js"></script>
    <script type="text/javascript" src="/socket.io/socket.io.js"></script>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/bootstrap.min.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <div class="tabbable">
      <ul class="nav nav-tabs">
        <% projects.forEach(function(project, index) { %>
          <li <%= index == 0 ? "class=active" : "" %>>
            <a href="#<%= project %>" data-toggle="tab"><%= project %></a>
          </li>
        <% }) %>
      </ul>
      <div class="tab-content">
        <% projects.forEach(function(project, index) { %>
          <div class="tab-pane <%= index == 0 ? "active" : "" %>" id=<%= project %> >
            <p>Logs from <%= project %></p>
            <textarea class="terminal <%= project %>"></textarea>
          </div>
        <% }) %>
        <!-- <div class="tab-pane active" id="mongod">
          <p>Logs from mongod</p>
          <textarea class="terminal-mongod"></textarea>
        </div>
        <div class="tab-pane" id="elasticsearch">
          <p>Howdy, I'm in elasticsearch.</p>
          <textarea class="terminal-mongod"></textarea>
        </div>
        <div class="tab-pane" id="Caramel-Server-Backends">
          <p>Howdy, I'm in Caramel-Server-Backends.</p>
          <textarea class="terminal-mongod"></textarea>
        </div>
        <div class="tab-pane" id="Caramel-Server">
          <p>Howdy, I'm in Caramel-Server.</p>
          <textarea class="terminal-mongod"></textarea>
        </div>
        <div class="tab-pane" id="Accounts">
          <p>Howdy, I'm in Accounts.</p>
          <textarea class="terminal-mongod"></textarea>
        </div>
        <div class="tab-pane" id="Panama">
          <p>Howdy, I'm in Panama.</p>
          <textarea class="terminal-mongod"></textarea>
        </div> -->
      </div>
    </div>
    <script>
      var socket = io.connect('http://localhost');
      var project = 'todo';
      socket.on(project, function(data) {
        $('.terminal').append(data.out || data.err)
      });

      socket.emit('new_project', {
        project: project,
        args: "cd && cd ruby/todos && rails s -p 5000"
      })

    </script>
  </body>
</html>